.custom-color-1 {
  background-color: #FFCDB2;
}

.custom-color-2 {
  background-color: #FFB4A2;
}

.custom-color-3 {
  background-color: #E5989B;
}

.custom-color-4 {
  background-color: #B5838D;
}

.custom-text-color-1 {
  background-color: #FFCDB2;
}

.custom-text-color-2 {
  background-color: #FFB4A2;
}

.custom-text-color-3 {
  background-color: #E5989B;
}

.custom-text-color-4 {
  background-color: #B5838D;
}